<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="main.css" />
    <title>Todo vue</title>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 mx-auto">
            <div class="todo-box">
              <div class="h1">
                Tasks - {{ taskAmountDone }} / {{ taskAmount }}
              </div>
              <div class="progress-bar">
                <div
                  class="progress-line"
                  :style="{width:((taskAmountDone / taskAmount)*100)+'%'}"
                >
                  {{ (taskAmountDone / taskAmount) * 100 }}%
                </div>
              </div>
              <hr />
              <div class="create">
                <input
                  type="text"
                  placeholder="Title"
                  class="create__title"
                  v-model="newTask.content"
                  @keyup.enter="createTask"
                />
                <input
                  v-model="newTask.priority"
                  type="number"
                  class="create__priority"
                  min="0"
                  max="20"
                  @keyup.enter="createTask"
                />
                <button type="submit" class="create__btn" @click="createTask">
                  Create
                </button>
              </div>
              <hr />
              <div class="search">
                <input type="text" placeholder="Search" v-model="searchValue" />
              </div>
              <div class="donefilter">
                <button
                  class="all"
                  :class="{ 'donefilter_active': doneFilterState.all }"
                  @click="taskAllFilter"
                >
                  All
                </button>
                <button
                  class="done"
                  @click="taskDoneFilter"
                  :class="{ 'donefilter_active':doneFilterState.done  }"
                >
                  Done
                </button>
                <button
                  class="undone"
                  @click="taskUndoneFilter"
                  :class="{ 'donefilter_active':doneFilterState.undone  }"
                >
                  Undone
                </button>
              </div>
              <div class="sort">
                <button
                  class="ascending "
                  :class="{ 'sort_active':ascendingFilterState.asc  }"
                  @click="ascendingFilter"
                >
                  Ascending
                </button>
                <button
                  @click="descendingFilter"
                  class="descending"
                  :class="{ 'sort_active':ascendingFilterState.desc  }"
                >
                  Descending
                </button>
              </div>
              <div class="list">
                <div class="list__task" v-for="(el, i) in filtredTasks">
                  <p
                    :class="{ list__task_done: el.completed }"
                    @click="doTask(i)"
                  >
                    {{ el.content }}
                  </p>
                  <i class="close" @click="delTask(i)">&times;</i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
